# -----------------------
# Go specific
# -----------------------
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# -----------------------
# Vendor
# -----------------------
/vendor/

# -----------------------
# Go modules
# -----------------------
/go.sum
/go.mod

# -----------------------
# IDE / Editor
# -----------------------
.idea/
*.iml
.vscode/
*.swp
*.swo

# -----------------------
# OS generated
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Environment files
# -----------------------
.env

# -----------------------
# Logs
# -----------------------
*.log
